<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyteamup">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/up_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/up_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyTeamUp">
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.MapEventActivities.MapEventAnalyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.MapEventActivities.MapRSVPdEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.MapEventActivities.MapHostedEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.MapEventActivities.MapInvitedEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.MapEventActivities.MapPublicEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.ListEventActivities.ViewRSVPdEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.ListEventActivities.ViewHostedEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.ListEventActivities.ViewInvitedEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.FilterPublicEventsActivities.PublicEventsDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.ListEventActivities.ViewPublicEventsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.EventDispatcherActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.FilterPublicEventsActivities.ChooseLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.UserHomeActivities.UpdateProfileActivities.UpdateProfileActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.ViewEventActivities.ListEventActivities.ViewEventAnalyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.EventActivities.CreateEventActivities.CreateEventActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.UserHomeActivities.ViewProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.UserHomeActivities.SignUpActivities.SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.UserHomeActivities.LoginLogoutActivities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.UserHomeActivities.StartActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Backend.FirebaseMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Backend.EtuFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2LTXdp_6XbtLGhbf1FAAhDzk6iRJMe-Y" />
    </application>

</manifest>