<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyteamup">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/up_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/up_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyTeamUp">
        <activity
            android:name=".Activities.ViewEventActivities.FilterEvents.PublicEventsDialogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewEventActivities.ViewPublicEventsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewEventActivities.EventDispatcherActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewEventActivities.FilterEvents.ChooseLocationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserHomeActivities.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserHomeActivities.ViewEventAnalyticsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CreateEventActivities.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewEventActivities.ViewMapEventsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewEventActivities.ViewListEventsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.UserHomeActivities.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserAuthActivities.SignUpActivityFolder.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserAuthActivities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UserAuthActivities.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC2LTXdp_6XbtLGhbf1FAAhDzk6iRJMe-Y" />
    </application>

</manifest>